# Introduction to boolean indexing

In [1]:
import pandas as pd

/var/folders/yn/jzzqv3s17t5_glr9g2gqxmyh0000gn/T/ipykernel_31971/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

We will create a `people` DataFrame.

In [2]:
names = ["Erika Schumacher", "Javi López", "Maria Rovira", "Ana Gromek",
         "Shekhar Biswas", "Muriel Adams", "Saira Polom", "Alex Kubiak",
         "Kit Ching", "Dog Woof"]
ages = [22, 50, 23, 29, 44, 30, 25, 71, 35, 2]
nations = ["DE", "ES", "ES", "PL", "IN", "FR", "IN", "PL", "UK", "XX"]
siblings = [2, 0, 4, 1, 1, 2, 3, 7, 0, 9]
colours = ["Red", "Yellow", "Yellow", "Blue", "Red", "Yellow", "Blue", "Blue", "Red", "Gray"]



people = pd.DataFrame({"name":names,
                       "age":ages,
                       "country":nations,
                       "siblings":siblings,
                       "favourite_colour":colours
                      })

people.head()

               name  age country  siblings favourite_colour
0  Erika Schumacher   22      DE         2              Red
1        Javi López   50      ES         0           Yellow
2      Maria Rovira   23      ES         4           Yellow
3        Ana Gromek   29      PL         1             Blue
4    Shekhar Biswas   44      IN         1              Red

## 1.&nbsp;Filtering data based on conditions

Let's say we want to select only the rows of those people whose favourite colour is "Yellow".

If we just type the condition `favourite_colour == "Yellow"`, we will create a pandas Series of boolean values of the same length as the rows in the DataFrame. The value in the Series is `True` for rows where the condition is met, and `False` otherwise.

In [3]:
people["favourite_colour"] == "Yellow"

0    False
1     True
2     True
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: favourite_colour, dtype: bool

In [4]:
people

               name  age country  siblings favourite_colour
0  Erika Schumacher   22      DE         2              Red
1        Javi López   50      ES         0           Yellow
2      Maria Rovira   23      ES         4           Yellow
3        Ana Gromek   29      PL         1             Blue
4    Shekhar Biswas   44      IN         1              Red
5      Muriel Adams   30      FR         2           Yellow
6       Saira Polom   25      IN         3             Blue
7       Alex Kubiak   71      PL         7             Blue
8         Kit Ching   35      UK         0              Red
9          Dog Woof    2      XX         9             Gray

> Note: a pandas Series is like a list, but it has an index and all of its elements must share the same data type. You can think of it as a "single column DataFrame".

We can use this Series inside the `.loc[]` function we learned earlier to select only the rows that corrspond to the `True` values.

In [5]:
people.loc[people["favourite_colour"]=="Yellow", :]

           name  age country  siblings favourite_colour
1    Javi López   50      ES         0           Yellow
2  Maria Rovira   23      ES         4           Yellow
5  Muriel Adams   30      FR         2           Yellow

The operators for boolean indexing are:
* **|** for OR,
* **&** for AND, and
* **~** for NOT.

These must be grouped by using parentheses.

Let's find out who does not come from Spain and has more than 3 siblings.

In [6]:
people.loc[~(people["country"]=="ES") & (people["siblings"]>3), :]

          name  age country  siblings favourite_colour
7  Alex Kubiak   71      PL         7             Blue
9     Dog Woof    2      XX         9             Gray

In [7]:
# alternative code to achieve the same result: using != instead of ~
people.loc[(people["country"]!="ES") & (people["siblings"]>3), :]

          name  age country  siblings favourite_colour
7  Alex Kubiak   71      PL         7             Blue
9     Dog Woof    2      XX         9             Gray

## 2.&nbsp;Challenges

### Exercise 1

Filter the `people` DataFrame and keep only people from the UK.

In [8]:
people.loc[people['country']=='UK',:]

        name  age country  siblings favourite_colour
8  Kit Ching   35      UK         0              Red

### Exercise 2

Filter the `people` DataFrame and keep only people from either India or France.

In [9]:
people.loc[(people['country']=='IN')| (people['country']=='FR'),:]

             name  age country  siblings favourite_colour
4  Shekhar Biswas   44      IN         1              Red
5    Muriel Adams   30      FR         2           Yellow
6     Saira Polom   25      IN         3             Blue

### Exercise 3

Filter the `people` DataFrame and keep only people from either Poland or Germany who have 2 or more siblings.

In [15]:
people.loc[((people['country']=='PL')| (people['country']=='DE')) & (people['siblings']>=2),:]

               name  age country  siblings favourite_colour
0  Erika Schumacher   22      DE         2              Red
7       Alex Kubiak   71      PL         7             Blue